PORT=5000
NODE_ENV=development
JWT_SECRET=super_secret_cinema_elk_jwt_key_2026
TMDB_API_KEY=ff736a04c8af39ea1bdabb98f407ab89
TMDB_READ_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmZjczNmEwNGM4YWYzOWVhMWJkYWJiOThmNDA3YWI4OSIsIm5iZiI6MTc3NjU5MjUyNC44OTY5OTk4LCJzdWIiOiI2OWU0YTY4YzI1OTlmYmQxMDg3ODBlMjciLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.3kif8B9lizPZinuXQDMVkn0jTrSqA7qbUCoW1hDNN1o

FIREBASE_PROJECT_ID=cinema-elk-2
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@cinema-elk-2.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
